# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

In [3]:
num_float = 2.3
print(num_float)

num_float = 2.5
print(num_float)    #overwriting variable values

2.3
2.5

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1=2
num2=5.4

result= num1 + num2
print(result)

#shorthand version
result += 2
print(result)

7.4
9.4

##### Subtraction

In [9]:
result_diff = num2 - num1
print(result_diff)

#shorthand version
result_diff -= 2
print(result_diff)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [10]:
result_mul = num1 * num2
print(result_mul)

#shorthand version
result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [13]:
result_div = num2 / num1
print(result_div)

result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [14]:
result_floor = num2//num1
print(result_floor)

#shorthand version
result_floor //= 2
print(result_floor)
##using floor division always results in float data type

2.0
1.0

##### Modulo

In [24]:
result_mod = 10 % 3    #modulo gives you remainder
print(result_mod)

#shorthand version
result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [30]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [31]:
name= 'Abhi'
print(name)

Abhi

##### print() <br>
<p>Don't forget about end=' '</p>

In [35]:
print('This is my first name: ', name)

print('Full name: ', name, end = ' Wagh')

This is my first name:  Abhi
Full name:  Abhi Wagh

##### String Concatenation

In [2]:
first_name = 'John'
last_name = 'Smith'

full_name = first_name + ' ' + last_name
print(full_name)

#shorthand
full_name += ' Jr'
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [3]:
num= '32'
change_type_num= int(num)

change_type_num += 5
print(change_type_num)

print(num)

37
32

##### input()

In [1]:
#Input() will ALWAYS RETURN A STRING!!

# name = input("What is your name? ")
# print(name)

age= int(input("How old are you? "))
new_age= age + 1
print(new_age)

How old are you? 26
27

##### format()

In [6]:
# age= input("What is your age? ")
# name= input("What is your name? ")

age= 88
name= 'Darren'

result_string= "You are {}, you are {} years old and are getting wiser!".format(name, age)
print(result_string)

result_again= f"{age} is a great time in life!"   #f" string automatically converts the int to string here
print(result_again)

You are Darren, you are 88 years old and are getting wiser!
88 is a great time in life!

##### Old Way (python 2)

In [7]:
result_string2= 'You are %s and you look great for your age!' %age
print(result_string2)  #old way of .format (%s means string)

You are 88 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [44]:
color= input("what is the color of your car? ")
year= input("What year? ")
make= input("What make? ")
model= input("What model ")

result_car= "Your car is a {}, {}, {} {}.".format(color, year, make, model)
print(result_car)

 what is the color of your car?maroon
 What year?2018
 What make?subaru
 What modelcrosstrek
Your car is a maroon, 2018, subaru crosstrek.

### If Statements

In [39]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)


num1= 5
num2= 3

# if num1 == num2:
#     print('equal values')
# print('other stuff')

# if num1 == num2:
#     print('equal values')
# if num1 != num2:
#     print('not equal')

if num1 == num2:
    print('equal values')
else:
    print('not equal')

    
if num2 > num1:
    print('num2 is greater than')
elif num2 < num1:
    print('num2 is less than')
else:
    print('they are the same')

not equal
num2 is less than

##### 'is' keyword

In [40]:
#use 'is' when checking for same/similar object, NOT the same value

num3 = 55
num4 = num3

if type(num3) is type(num4):
    print('this is the same type or similar object')

this is the same type or similar object

##### 'in' keyword

In [41]:
char_name = "Max Payne"

if "Max" in char_name:
    print('The character who lost everything...')

The character who lost everything...

##### 'not in' keyword'

In [42]:
sega_char= 'Sonic'

if 'a' not in sega_char:
    print('a is not here')

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

## Using 'and'/'or' with If Statements

In [51]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

first_name = 'Max'
age = 11

if first_name == 'Max' and age == 10:
    print('I am Max, and I am 10.')
elif first_name == 'Max' or age == 10:
    print('I am either Max, or I am 10.')

# if first_name == 'Smith':
#     print('The name is Smith.')
# elif first_name != 'Max':
#     print('The name is not Max')
# else:
#     print('The name is Max.')

I am either Max, or I am 10.

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [61]:
#for item in iterable_thing:
    #do some stuff

#range function only takes integers, starts counting at 0
#len function starts counting at 1
    
name= 'Abhi Wagh is the greatest'
# print (len(name))

# for letter in name:   #letter is temporary variable
#     print(letter)

for letter in range(len(name)):
    print (name[letter])

#for loop loops until it is over

A
b
h
i

W
a
g
h

i
s

t
h
e

g
r
e
a
t
e
s
t

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [62]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [63]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [64]:
for i in name:
    pass

# I will come back to this and finish this part of my code later

##### Double For Loops

In [65]:
for i in range(5):
    for j in range(5):
        print('i=', i, 'j=', j)

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 0 j= 3
i= 0 j= 4
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 1 j= 4
i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3
i= 2 j= 4
i= 3 j= 0
i= 3 j= 1
i= 3 j= 2
i= 3 j= 3
i= 3 j= 4
i= 4 j= 0
i= 4 j= 1
i= 4 j= 2
i= 4 j= 3
i= 4 j= 4

### While Loops

In [3]:
#while condition statement (something that is true or false)
    #do some stuff repeatedly

num= 0
while num<10:
    print(num)
    num += 1

# while True:
#     if num >= 10:
#         break
#     print(num)
#     num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [8]:
#flag: variable you set up outside the while loop

game_run= True
score= 0

while game_run: #evaluates as true
    user_input = input("Say some stuff.")
    if user_input == "quit":
        game_run = False
    print(user_input)
    score += 1
    print(f"score: {score}")

Say some stuff.blah
blah
score: 1
Say some stuff.terrible
terrible
score: 2
Say some stuff.corn
corn
score: 3
Say some stuff.pink
pink
score: 4
Say some stuff.quit
quit
score: 5

##### While & For Loops Used Together

In [20]:
num = 0

while num < 5:
    print("\n While Loop Interation: " + str(num))
    
    for i in range (2):
        print("For Loop Iteration: " + str(i))
    
    num += 1

 While Loop Interation: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Interation: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Interation: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Interation: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Interation: 4
For Loop Iteration: 0
For Loop Iteration: 1

### Built-In Functions

In [14]:
for i in range(2, 20, 3):
    print(i)

2
5
8
11
14
17

##### range()

In [22]:
#range(start, stop, step)
#Defaults: start=0, stop is REQUIRED, step =1

for i in range(2,20,3):
    print (i)

2
5
8
11
14
17

##### len()

In [23]:
name= "Maxine"

length= len(name)
print(length)

6

##### help()

In [25]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

##### isinstance()

In [27]:
print(isinstance(4.5, int))

if isinstance(4.5, float):     #boolean statement evaluates to true
    print("this num is a float")

False
this num is a float

##### abs()

In [28]:
#absolute values

print(abs(-5))

5

### Try and Except

In [1]:
#Use this whenever you expect to encounter a bug so that the error doesn't cause the program to stop
#Use this to log out graceful and informative error messages

try:
    num_test= 0
    input_num= int(input("Give me a number: "))
    if input_num != num_test:
        input_num = input_num + num_test
        print("Your number is: ")

except:
    print("That did not work- ERROR: Please input a number!")

Give me a number: five
That did not work- ERROR: Please input a number!

### Lists

##### Declaring Lists

In [4]:
my_list = [] #empty list

#in lists, you can have a mix of data types

names = ['Max', 'Cindy', 'Karen', 'Cathy', 5, 'Nate']

print(names)

['Max', 'Cindy', 'Karen', 'Cathy', 5, 'Nate']

##### Indexing a List

In [15]:
print(names)
#indexing starts at 0th position, non-inclusive for second number [x:y)
#Syntax -> list_name[start: stop: step]

#Single Index
print(names[2])

#Print the last value NO matter the size of the list
print(names[-1])

#Print starting at 1 goint to the end
print(names[1:])

#Print starting at beginning of list until whatever index we give it
print(names[:3])

#Print from one index to another
print(names[2:4])

#Print starting at index 1 going up by 2 for each iteration
print(names[1::2])

#Print starting at the end and going down by 1 each time (reversing list)
print(names[::-1])

['Max', 'Cindy', 'Karen', 'Cathy', 5, 'Nate']
Karen
Nate
['Cindy', 'Karen', 'Cathy', 5, 'Nate']
['Max', 'Cindy', 'Karen']
['Karen', 'Cathy']
['Cindy', 'Cathy', 'Nate']
['Nate', 5, 'Cathy', 'Karen', 'Cindy', 'Max']

##### .append()

In [16]:
names.append('Bob') #changes original data
print(names)

['Max', 'Cindy', 'Karen', 'Cathy', 5, 'Nate', 'Bob']

##### .insert()

In [21]:
#Syntax: list.insert(pos, elmnt)

names.insert(3, 'Gabby')
print(names)

['Max', 'Cindy', 'Karen', 'Gabby', 'Gabby', 'Gabby', 'Gabby', 'Cathy', 5, 'Nate', 'Bob']

##### .pop()

In [27]:
#default is the last value if no parameter is given
#pop returns the element that was removed in case you want to assign it to a variable
#removes item from given list

my_name= names.pop(3)
print(my_name)

print(names)

Gabby
['Max', 'Cindy', 'Karen', 'Gabby', 'Cathy', 5]


##### .remove()

In [32]:
#value to be removed, not the index

# names.remove('Cathy')
# print(names)

#Removing multiple 'Bob's from list

while 'Bob' in names:
    names.remove('Bob')
print(names)

##### del()

In [33]:
#BE CAREFUL WITH THIS ONE
#It can cause indexing errors if used improperly
#remove by index

del(names[1])
print(names)

['Max', 'Karen', 'Gabby', 5]

##### Concatenating Two Lists

In [34]:
list_1= [0,1,2]
list_2= [3,4,5]

big_list= list_1 + list_2
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [31]:
namez= ['Max', 'James', 'Josh', 'Sam', ['Sally', 'Sue', 'Tomiko']]
print(namez)

#Indexing into a list within a list
print(namez[4][1])

['Max', 'James', 'Josh', 'Sam', ['Sally', 'Sue', 'Tomiko']]
Sue

##### Looping Through Lists

In [32]:
#two ways to loop through list: one by index, the other is by using 'in' keyword

#with a for loop using index
for i in range(len(namez)):
    print(namez[i])

#loop with a for loop and in
for name in namez:
    print(name)

Max
James
Josh
Sam
['Sally', 'Sue', 'Tomiko']
Max
James
Josh
Sam
['Sally', 'Sue', 'Tomiko']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [40]:
num = 1
cubed_num = num ** 3
    
while cubed_num < 1000:
    cubed_num = num ** 3
    print(cubed_num)
    num +=1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [78]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range(2,101):
        if i/i == 1:
            if i/1 == i:
                if i==2 or i==3 or i==5 or i== 7:
                    print(i, "This is a prime number")
                elif i%2 != 0 and i%3 != 0 and i%4 != 0 and i%5 != 0 and i%7 != 0:
                    print(i, "This is a prime number")

2 This is a prime number
3 This is a prime number
5 This is a prime number
7 This is a prime number
11 This is a prime number
13 This is a prime number
17 This is a prime number
19 This is a prime number
23 This is a prime number
29 This is a prime number
31 This is a prime number
37 This is a prime number
41 This is a prime number
43 This is a prime number
47 This is a prime number
53 This is a prime number
59 This is a prime number
61 This is a prime number
67 This is a prime number
71 This is a prime number
73 This is a prime number
79 This is a prime number
83 This is a prime number
89 This is a prime number
97 This is a prime number

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [5]:
age= int(input("What is your age? "))

if age < 18:
    print('kid')
elif 18 <= age <= 65:
    print('adult')
else:
    print('senior')

What is your age? 19
adult