# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [200]:
import pandas as pd

nba_stats = pd.read_csv('files/nbastats2018-2019.csv')

av_age = nba_stats['Age'].mean().round(decimals = 0)
print(f'Average age of player in league: {av_age}')

Average age of player in league: 26.0

# What player scored the most points?

In [202]:
max_pts = nba_stats[['Name', 'Points']].max()
max_pts

#Answer: Zhou Qi

Name      Zhou Qi
Points       36.1
dtype: object

# What player had the most blocks during the season? Was it a post player (F/C)?

In [218]:
blocks = nba_stats[['Name', 'Blocks']].max()
blocks

#Answer: Zhou Qi
#According to ESPN, Qi is a center(C) for the Houston Rockets

Name      Zhou Qi
Blocks        2.7
dtype: object

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [217]:
df_nba = nba_stats[['Team', 'WS']]
df_nba_subset = df_nba.groupby('Team', as_index = False).sum().round(decimals = 2)

df_games_played = nba_stats[['Team', 'G']]
df_games_subset = df_games_played.groupby('Team', as_index = False).mean().round(decimals = 2)

merged = df_nba_subset.merge(df_games_subset, on = 'Team', how = 'inner')

#based on research, "A win share is worth one-third of a team win." - Justin Kubatko
#win percentage = team wins/total number of games played (couldn't find total number of games played per team in dataset
#so took average number of games played by each player per team)

merged['Estimated Team Wins'] = (merged['WS'] * 1/3).round(decimals = 2)
merged['Approximate Win Percentage (%)'] = (((merged['Estimated Team Wins'])/(merged['G'])) * 100).round(decimals = 2)
merged.sort_values('Approximate Win Percentage (%)', ascending = False)

#Answer: Milwaukee Bucks?

,Team,WS,G,Estimated Team Wins,Approximate Win Percentage (%)
16,Milwaukee Bucks,63.0,58.64,21.00,35.81
10,Houston Rockets,45.7,45.31,15.23,33.61
22,Philadelphia 76ers,52.8,52.82,17.60,33.32
9,Golden State Warriors,55.9,59.00,18.63,31.58
27,Toronto Raptors,52.9,57.75,17.63,30.53
2,Brooklyn Nets,45.4,50.17,15.13,30.16
7,Denver Nuggets,50.5,55.80,16.83,30.16
28,Utah Jazz,53.6,59.73,17.87,29.92
1,Boston Celtics,52.0,58.80,17.33,29.47
11,Indiana Pacers,47.7,54.53,15.90,29.16
12,Los Angeles Clippers,46.5,54.68,15.50,28.35
24,Portland Trail Blazers,50.9,60.57,16.97,28.02
26,San Antonio Spurs,45.9,59.07,15.30,25.90
20,Oklahoma City Thunder,49.2,64.92,16.40,25.26
21,Orlando Magic,43.6,57.87,14.53,25.11
18,New Orleans Pelicans,37.5,51.67,12.50,24.19
13,Los Angeles Lakers,34.8,49.00,11.60,23.67
29,Washington Wizards,32.3,46.29,10.77,23.27
17,Minnesota Timberwolves,36.4,52.50,12.13,23.10
14,Memphis Grizzlies,30.9,44.76,10.30,23.01
25,Sacramento Kings,38.4,56.80,12.80,22.54
8,Detroit Pistons,38.9,57.67,12.97,22.49
3,Charlotte Hornets,38.8,62.93,12.93,20.55
0,Atlanta Hawks,28.0,46.19,9.33,20.20
15,Miami Heat,35.7,59.00,11.90,20.17
23,Phoenix Suns,28.9,48.86,9.63,19.71
6,Dallas Mavericks,33.7,57.40,11.23,19.56
19,New York Knicks,29.1,57.06,9.70,17.00
4,Chicago Bulls,20.9,50.19,6.97,13.89
5,Cleveland Cavaliers,16.2,43.88,5.40,12.31

# What player had the best 3-pt percentage?

In [189]:
nba_stats.keys()
three_pt = nba_stats[['Name', 'FG3%']].max()
three_pt

#Answer: Zhou Qi

Name    Zhou Qi
FG3%        1.0
dtype: object

# Who played the most minutes during the season

In [133]:
max_mins = nba_stats[['Name', 'MP']].max()
max_mins

#Answer: Zhou Qi

Name    Zhou Qi
MP         36.9
dtype: object

# What player given their player efficiency rating was the clutchest during the season?

In [150]:
PER_stats = nba_stats[['Name', 'PER']]
PER_stats.max()

#Answer: Zhou Qi (hella clutch)

Name    Zhou Qi
PER        80.4
dtype: object

# What team had the youngest roster?

In [209]:
team_age = nba_stats[['Team', 'Age']]
ave_age = team_age.groupby('Team').mean().round(decimals = 2)

ave_age.sort_values('Age')

#Answer: Chicago Bulls based on the average age of their roster

                          Age
Team
Chicago Bulls           24.31
Sacramento Kings        24.40
Orlando Magic           24.53
New York Knicks         24.62
Phoenix Suns            24.76
Portland Trail Blazers  24.86
Indiana Pacers          25.06
Denver Nuggets          25.27
Brooklyn Nets           25.56
Boston Celtics          25.60
Memphis Grizzlies       25.65
Oklahoma City Thunder   25.75
New Orleans Pelicans    25.78
Cleveland Cavaliers     26.00
Charlotte Hornets       26.00
Detroit Pistons         26.27
Philadelphia 76ers      26.35
Atlanta Hawks           26.48
Los Angeles Lakers      26.62
Minnesota Timberwolves  26.62
Washington Wizards      26.76
Milwaukee Bucks         26.93
Los Angeles Clippers    27.11
Utah Jazz               27.13
Toronto Raptors         27.17
Golden State Warriors   27.87
Dallas Mavericks        27.87
Houston Rockets         27.92
San Antonio Spurs       28.13
Miami Heat              28.18

# Who is the highest paid player during the season?

In [83]:
nba_stats[['Name', 'Salary']].max()
#Answer: Zhou Qi

Name      Zhou Qi
Salary      99290
dtype: object

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [108]:
nba_stats[['Name','FT%']].min()
#Answer: Aaron Gordon

Name    Aaron Gordon
FT%              0.0
dtype: object